.movie-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: #141414; 
  color: white;
  min-height: 100vh;
}

.movie-list h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.movie-list ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
  gap: 20px;
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 1200px;
}

.movie-item {
  flex: 0 0 auto; 
  width: 200px; 
  text-align: center;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.movie-item:hover {
  transform: scale(1.1); 
  z-index: 1;
}

.movie-cover {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-item h3 {
  margin-top: 10px;
  font-size: 1rem;
  color: #e5e5e5;
}

.header {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  color: #e50914; 
  margin-bottom: 20px;
  text-align: left; 
}

.category {
  width: 100%;
  margin-bottom: 40px;
}

.category-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: left; 
  color: white;
}

.movie-row {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  height: 410px;
  padding: 10px 20px;
  justify-content: center; 
  scroll-behavior: smooth;
}

.movie-row::-webkit-scrollbar {
  display: none; 
}
.delete-button {
  background-color: transparent; 
  color: red;
  font-weight: bold;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  position: absolute;
}
.delete-button:hover {
  background-color: darkred;
  color: white;
}
.subheader {
  width: 96.5%;
  background-color: #222;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #444;
  margin-bottom: 20px;
}

.add-movie {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.add-movie-input {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #333;
  color: white;
}

.add-movie-input::placeholder {
  color: #aaa;
}

.add-movie-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-movie-button:hover {
  background-color: #b00610;
}


.filter-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.filter-buttons button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #333;
  color: white;
  border: 1px solid #444;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-buttons button.active {
  background-color: #e50914;
  color: white;
}

.filter-buttons button:hover {
  background-color: #b00610;
}

.watched-button {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 0.9rem;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.watched-button:hover {
  background-color: #555;
}